body {
    margin-top: 0;
    background-image:url(Pictures/1.jpg);
    background-size:cover;
    font-family:'Times New Roman', Times, serif;
    color:black;
    
   
}
*{

    font-family:Calibri;
    color:white;
    font-size:18px;
   
     
    }
#wrapper{
    
    width:100%;
    height:50em;
    margin:auto;
    
}




section{
    border: 2px solid #e0e0e0;
    background-color: rgba(67,64,67,0.40);
    box-shadow: #000000 2px 3px 15px 0px;
    border-top-left-radius:20px; 
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    padding-left:10px;
    width:60%;
    height:80%;
     float:left;
}
    section .image1{
    margin-left:640px;
    margin-top:160px;
    
}

    section .image2{
    margin-left:440px;
    margin-top:160px;
        } 

section .image3{
    margin-left:440px;
    margin-top:125px;
        } 
section .image4{
    margin-left:640px;
    margin-top:95px;
        } 
section .image5{
    margin-left:440px;
    margin-top:187px;
        } 
section .image6{
    margin-left:642px;
    margin-top:93px;
        }
section .image7{
    margin-left:440px;
    margin-top:165px;
        }
section .image8{
    margin-left:640px;
    margin-top:132px;
        }
section .image9{
    margin-left:540px;
    margin-top:73px;
        }
section .image10{
    margin-left:440px;
    margin-top:133px;
        }
section .image11{
    margin-left:510px;
    margin-top:270px;
        }
section .image12{
    margin-left:990px;
    margin-top:55px;
        }
section .image13{
    margin-left:849px;
    margin-top:238px;
        }



#hornavigacija ul {
    list-style-type: none;
    margin:auto;
    padding: 20px 10px 20px 0px;
    background-image:url(Pictures/2.jpg);
    background-size:cover;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    width:95%;
    text-align: center;
    
    
    
    
    
            
}

#hornavigacija li {
    
    display: inline;
    color:white;
    padding:20px;
    border-radius:10px;
    }
#hornavigacija li:hover{

    font-weight:bold;
    background-color:black;
    
    
}

nav{
    left:0;
    width:15%;
    float:left;
    
    border-bottom-right-radius: 10px;
    height: 100%;
    
    
    

    
        
}

nav ul{
    
    position:fixed;
    height:5px;
    
}

nav ul li{
    color:white;
    list-style:none;
    width:51.2%;
    padding:2px 2px 5px 2px;
    margin:0px 0px 0px 31.3px;
    border-radius:10px;
    
 
}
nav ul ul{ 
    position:relative;
    left:75.2%;
    top:-18px;
    padding-left:20px;
    visibility:hidden;
    border-left:none;
    
    
}

nav ul li ul li{ 
    background-color:black;
    min-width:200px;
    visibility:hidden;
    padding:0px;
    list-style:none;
    
    
}
nav ul li ul li ul li{ 
    background-color:black;
    position :relative;
    left:4.3%;
    display:none;
    list-style:none;
    
}
    nav ul li:hover {
        background-image:url(Pictures/2.jpg);
    background-size:cover;
        font-weight:bold;
        color:white;
        

    }


    nav ul li:hover li {
        visibility:visible;
            }

    nav ul li ul li:hover li {
        visibility: visible;
    }


    table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
    text-align: center;
    
    }


footer{
    color:white;
    font-size:15px;
    font-family:'Times New Roman',serif;
    text-align:center;
    width:100%;
    position:fixed;
    height:7%;
    background-image:url(Pictures/2.jpg);
    background-size:cover;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    bottom:0;
    left:0;
    
}

